body {
	width: 1000px;
}

table {
	width: 100%;
}

td {
	width: 50%;
	vertical-align: top;
}

table, tr, td {
	border: 0px;
    border-spacing: 0px;
}

.tl-1 {
	margin-left: 0px;
}

.tl-2 {
	margin-left: 40px !important;
}

input[type="text"] {
	width: 100%;
}

#save {
	margin-top: 1rem;
}